[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lightgbm = "~=3.1"
numpy = ">=1.24"
scikit-learn = "~=1.2"
joblib = "~=1.0"
fasttext = "*"
pybind11 = "*"
cython = "*"

[dev-packages]
pytest = "*"
setuptools = "*"
twine = "*"
wheel = "*"

[requires]
python_version = "3"

[scripts]
rank_strings = "python -m stringsifter.rank_strings"
flarestrings = "python -m stringsifter.flarestrings"
tests = "python -m pytest"
build = "python setup.py sdist bdist_wheel"
upload_test = "python -m twine upload --repository testpypi dist/*"
upload = "python -m twine upload dist/*"
